In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [2]:
data=pd.read_csv("dataset/Latest Covid-19 India Status.csv")

In [3]:
data.head()

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.0,98.56,1.44,40100376

In [4]:
data.describe()

,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
count,3.600000e+01,36.000000,3.600000e+01,36.000000,36.000000,36.000000,36.000000,3.600000e+01
mean,1.249975e+06,50.333333,1.235146e+06,14778.527778,0.005000,98.897222,1.097778,3.971861e+07
std,1.846038e+06,207.118048,1.820328e+06,27221.140636,0.026673,0.506854,0.494791,5.050913e+07
min,1.076600e+04,0.000000,1.063700e+04,4.000000,0.000000,97.410000,0.030000,6.600100e+04
25%,1.065430e+05,0.000000,1.055395e+05,1124.250000,0.000000,98.690000,0.840000,1.695473e+06
50%,6.140910e+05,1.500000,6.076750e+05,6551.000000,0.000000,98.935000,1.065000,2.410088e+07
75%,1.331951e+06,9.000000,1.322329e+06,14325.750000,0.000000,99.160000,1.310000,6.979986e+07
max,8.171048e+06,1233.000000,8.022276e+06,148558.000000,0.160000,99.970000,2.440000,2.315026e+08

In [5]:
data.isnull().sum()

State/UTs          0
Total Cases        0
Active             0
Discharged         0
Deaths             0
Active Ratio       0
Discharge Ratio    0
Death Ratio        0
Population         0
dtype: int64

In [6]:
data.max()

State/UTs          West Bengal
Total Cases            8171048
Active                    1233
Discharged             8022276
Deaths                  148558
Active Ratio              0.16
Discharge Ratio          99.97
Death Ratio               2.44
Population           231502578
dtype: object

In [7]:
data.min()

State/UTs          Andaman and Nicobar
Total Cases                      10766
Active                               0
Discharged                       10637
Deaths                               4
Active Ratio                       0.0
Discharge Ratio                  97.41
Death Ratio                       0.03
Population                       66001
dtype: object

In [8]:
data.columns

Index(['State/UTs', 'Total Cases', 'Active', 'Discharged', 'Deaths',
       'Active Ratio', 'Discharge Ratio', 'Death Ratio', 'Population'],
      dtype='object')

In [9]:
data.size

324

In [ ]:
import matplotlib.pyplot as plt

# Assuming 'State/UTs' and 'Total Cases' are columns in your dataset
plt.figure(figsize=(10, 6))
plt.bar(data['State/UTs'], data['Total Cases'])
plt.xticks(rotation=90)  # Rotate x-axis labels for better readability
plt.xlabel('State/UTs')
plt.ylabel('Total Cases')
plt.title('Total COVID Cases by State/UTs')
plt.show()